/* DoctorModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%; /* Adjust the width as needed */
  max-height: 80%; /* Limit the max height to 80% of the viewport height */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-y: auto; /* Add scrolling for overflowing content */
}

.modal-content p {
  color: black;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.doctor-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.doctor-details img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.doctor-details h2 {
  margin-bottom: 5px;
}

.doctor-details p {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}
