.location-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .location-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .location-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .location-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .location-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .location-button-primary {
    background: #007bff;
    padding: 12px 24px;
    color: #ffff;
    border: none;
    border-radius:   4px;
    font-size:16px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5%;
  }
  
  .location-button-success {
    background: #28a745;
  }
  
  .map-container {
    height: 400px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  