/* Styles for screen size 320px - 767px */
@media (max-width: 767px) {
  .module-header {
    max-width: 100%;
    padding: 0 1rem;
  }
  
  .h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-right: 0.625rem;
  }
  
  .cards-container {
    flex-direction: column;
  }

  .col-2-item {
    margin-top: 1rem;
    margin-right: 0;
  }

  .card-has-image {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}

/* Styles for screen size 768px - 1279px */
@media (min-width: 768px) and (max-width: 1279px) {
  .module-wrap {
    max-width: 90%;
  }

  .h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-right: 1rem;
  }
}

/* Styles for screen size 1280px and above */
@media (min-width: 1280px) {
  .module-wrap {
    max-width: 1200px;
  }

  .h2 {
    font-size: 2.313rem;
    line-height: 2.75rem;
    padding-right: 1.25rem;
  }
}
