.review-slider {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: -12px;
}

.review-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.review-image {
  width: 100%;
  flex: 0 0 auto;
}

.review-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.review-details {
  width: 100%;
  flex: 0 0 auto;
  margin-top: 10px;
}

.indicator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.indicator.active {
  background-color: #0267e3;
}

/* Responsive Styles */

@media (min-width: 768px) {
  .review-slider {
    flex-direction: row;
  }

  .review-container {
    flex-direction: row;
    align-items: center;
  }

  .review-image {
    flex: 0 0 60%;
  }

  .review-details {
    flex: 0 0 40%;
    margin-top: 0;
    margin-left: 20px;
  }
}
