/* Guidelines.css */

/* Styles for the container and positioning */
.two-col-teaser-g {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px;
}

.teaser-img-g {
  flex: 1;
  max-width: 580px;
  margin-left: 20px;
  order: 1;
}

.teaser-img-g img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.teaser-content-g {
  flex: 1;
  padding: 20px;
  font-size: 20px;
  order: 2;
}

/* Heading and text styles */
.content-title-g h2 {
  color: rgba(16, 16, 117, 0.928);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: right;
}

.content-body-g {
  font-weight: 500;
  margin-top: 33px;
  margin-bottom: 53px;
}

.content-body-g ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style-type: disc;
  margin-left: 20px;
  line-height: 1.7;
}

.content-body-g li {
  margin-bottom: 10px;
}

.content-link-g {
  margin-top: 20px;
  text-align: right;
}

.content-link-g .btn-chevron {
  text-decoration: none;
  font-weight: bold;
  
}

/* Media Queries */
@media (max-width: 780px) {
  .two-col-teaser-g {
    flex-direction: column-reverse;
  }
  
  .teaser-img-g {
    max-width: 100%;
    margin-right: 0;
  }

  .teaser-img-g img {
    width: 100%;
  }
  
  .content-title-g h2 {
    font-size: 22px;
  }
}
