.Card-container {
  margin: 25px;
  width: 1604;
  justify-content: center;
}

.card {
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-bottom: 12px; /* Decrease the margin-bottom for tighter spacing */
  margin-top: 10px;
  margin-right: 1px;
  margin-left: 1px;
  display: flex;
  padding: 10px;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.14); /* Add a lightly visible border */
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.content {
  position: relative;
  align-content: flex-start;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-link {
  text-decoration: none;
  color: #333;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: row;
}

h2 {
  height: 100%;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  margin-right: 10px;
}

.arrow-container {
  display: inline-block;
  width: 34px;
  height: 100%;
  margin-bottom: 12px;
  align-items: center;
}

.arrow-container svg {
  fill: #999;
}

.details {
  font-weight: 270;
  font-size: smaller;
  margin-top: 10px;
}

p {
  margin: 0;
}

.card-media {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8px;
}

.icon {
  width: 80px;
  height: auto;
}

.card:hover .icon {
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
}
