.featured-content-block-module {
  
  padding: 20px;
  border-radius: 10px;
}

.module-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-col-teaser {
  display: flex;
  align-items: center;
}

.module-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teaser-img {
  flex: 1;
}

.teaser-img img {
  width: 580px;
  height: auto;
  border-radius: 5px;
}

.teaser-content {
  flex: 1;
  padding: 20px;
}

.content-title h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-body {
  margin-top: 33px;
  margin-bottom: 53px;
}

.content-body ul {
  padding: 0;
  margin: 0;
  list-style-type: disc;
  margin-left: 20px;
}

.content-body li {
  margin-bottom: 10px;
}

.content-link {
  margin-top: 20px;
}

.content-link .btn-chevron {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
